:root {
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

#gameBoard {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

#play-area {
  display: grid;
  width: 9rem;
  height: 9rem;
  grid-template-columns: auto auto auto;
  margin-bottom: 1rem;
}

.block {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 0.1rem solid black;
  transition: background 0.2s ease-in-out;
}

.available:hover {
  cursor: pointer;
  background: #0ff30f;
}

.occupied:hover {
  color: maroon;
  background-color: red;
}

.noWin {
  background-color: gray;
}

.win {
  background-color: yellow;
  color: goldenrod;
}
button {
  outline: none;
  border: 4px solid green;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}
  
button:hover {
  cursor: pointer;
  background: green;
  color: white;
}
